<!doctype html>
<html>

<head>
    <title>О проекте - RealtorBot.by</title>
    <meta name="description" content="Узнайте цену продажи квартиры за 60 секунд. Калькулятор оценивает квартиру с помощью нейросети. Зайдите и оцените!">


    <meta charset="utf8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Space+Mono:400,700&display=swap"
          rel="stylesheet">

    {%include 'head-meta.html' %}

</head>

<body>
    {%include 'after-body-open.html' %}

<div class="page-container container-about">

    <header>
        {%include 'header-menu.html' %}
    </header>

    <main>

        <div class="grid secondary-grid">

            <div class="left-column">
                <h1>О проекте</h1>

                <p>Сервис сделал Алексей Ярошенко, чтобы ему было что показать, когда он будет устраиваться на позицию Data
                    Scientist или
                    Machine Learning Engineer. Открыт предложениям :)
                </p>
                <p>
                    Upd: уже устроился, работаю.
                </p>
                <h6>Контакты:</h6>

                <ul class="developer-contacts-ul">
                    <!--<li>Facebook</li>-->
                    <!--<li>LinkedIn</li>-->
                    <!--<li id="main-color">Telegram</li>-->
                    <!--<li>Email</li>-->

                    <li><a href="https://www.facebook.com/alexey.yaroshenko" target="_blank">Facebook</a></li>
                    <!--<li><a href="https://vk.com/aleksey.yaroshenko" target="_blank">VK</a></li>-->
                    <li><a href="https://www.linkedin.com/in/alekseyyaroshenko/" target="_blank">LinkedIn</a></li>
                    <li><a id="main-color" href="https://t.me/yaroshenko" target="_blank">Telegram</a></li>
                    <li><a href="mailto:hello@realtorbot.by">Email</a></li>
                </ul>

                <h6>Как родилась идея: история одной боли</h6>
                <p class="article">Однажды мы хотели продать квартиру и пригласили риэлтора. Он придрадся к каждому плинтусу и
                    «забыл» про все
                    плюсы.
                    Говорил, что наша квартира ужасна и продать её будет невероятной удачей. Стоимость озвучил на 15–20% ниже
                    рыночной и то
                    «только для нас». Оказалось, что его комиссия фиксированная и не зависит от стоимости, а продать дёшево ему
                    просто
                    быстрее и легче, а значит быстрее и легче можно получить свои деньги. <br> Квартиру в итоге решили не
                    продавать, но осадочек остался. А чтобы с вами случайно не произошло похожей истории — сделал
                    этот сервис.</p>

                <p class="designer">Дизайн: <a href="https://muzhevskaya.com" target="_blank">muzhevskaya</a></p>

            </div>

            <div class="photo">
                <img src="/static/images/yaroshenko.jpg" alt="Aleksey Yaroshenko"/>
            </div>


        </div>

    </main>


    <footer>

        <div class="photo-mobile">
            <img src="/static/images/yaroshenko.jpg" alt="Aleksey Yaroshenko"/>
        </div>

        {%include 'footer-menu.html' %}

    </footer>
</div>

</body>

</html>