<nav>
    <p><a href="/about">О проекте</a></p>
    <p><a href="/api">API</a></p>
</nav>

<div class="footer-block">
    <p class="footer-share">Поделиться</p>

    <ul>
        <li><a href="https://www.facebook.com/alexey.yaroshenko" target="_blank">Facebook</a></li>
        <!--<li><a href="https://vk.com/aleksey.yaroshenko" target="_blank">VK</a></li>-->
        <li><a href="https://www.linkedin.com/in/alekseyyaroshenko/" target="_blank">LinkedIn</a></li>

        <li><a href="https://t.me/yaroshenko" target="_blank">Telegram</a></li>
        <li id="last-share-element"><a href="mailto:hello@realtorbot.by">Email</a></li>
    </ul>

    <p class="copyright">&copy; RealtorBot 2019</p>
</div>