<nav>
    <p><a href="/about">О проекте</a></p>
    <p><a href="/api">API</a></p>
</nav>

<div class="footer-block">
    <p class="footer-share">Поделиться</p>

    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://realtorbot.by" target="_blank">Facebook</a></li>
        <li><a href="https://vk.com/share.php?url=https://realtorbot.by" target="_blank">VK</a></li>
        <li><a href="viber://forward?text=https://realtorbot.by" target="_blank">Viber</a></li>

        <li id="last-share-element"><a href="https://telegram.me/share/url?url=https://realtorbot.by" target="_blank">Telegram</a></li>
        <!--<li><a href="mailto:hello@realtorbot.by">Email</a></li>-->
    </ul>

    <p class="copyright">&copy; RealtorBot 2019</p>
</div>