<!doctype html>
<html>

<head>
  <title>API</title>

  <meta charset="utf8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="style.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Space+Mono:400,700&display=swap"
    rel="stylesheet">

</head>

<body>
  <div class="page-container container">

    <header>

      <div class="logo">
        <p>RealtorBot</p>
      </div>
      <div class="email">
        <p>hello@realtorbot.by</p>
      </div>

    </header>

    <main>

      <div class="grid secondary-grid">

        <div class="left-column">
          <h1>API</h1>

          <p>На данный момент у сервиса не предусмотрен API, но если вам было бы интересно получить его для своего
            проекта — дайте
            мне знать и мы обсудим этот вопрос.
          </p>
          <h6>Мои контакты:</h6>

          <ul class="developer-contacts-ul">
            <li>Facebook</li>
            <li>LinkedIn</li>
            <li id="main-color">Telegram</li>
            <li>Email</li>
          </ul>

        </div>

        <div class="photo">
          <img src="images/minsk-2.jpg" alt="Minsk" />
        </div>


      </div>

    </main>


    <footer>

      <div class="photo-mobile">
        <img src="images/minsk-2.jpg" alt="Minsk" />
      </div>

      <nav>
        <p>О проекте</p>
        <p id="selected">API</p>
      </nav>

      <div class="footer-block">
        <p class="footer-share">Поделиться</p>

        <ul>
          <li>Facebook</li>
          <li>VK</li>
          <li>LinkedIn</li>
          <li>Telegram</li>
        </ul>

        <p class="copyright">&copy; RealtorBot 2019</p>
      </div>

    </footer>
  </div>


</body>

</html>