<!doctype html>
<html>

<head>
    <title>API</title>

    <meta charset="utf8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Space+Mono:400,700&display=swap"
          rel="stylesheet">

</head>

<body>
<div class="page-container container">

    <header>
        {%include 'header-menu.html' %}
    </header>

    <main>

        <div class="grid secondary-grid">

            <div class="left-column">
                <h1>API</h1>

                <p>Пока еще мы API не сделали, но если вам было бы интересно получить его для своего
                    проекта — дайте
                    мне знать. Это будет веский повод сделать его быстрее.
                </p>
                <h6>Мои контакты:</h6>

                <ul class="developer-contacts-ul">
                    <!--<li>Facebook</li>-->
                    <!--<li>LinkedIn</li>-->
                    <!--<li id="main-color">Telegram</li>-->
                    <!--<li>Email</li>-->
                    <li><a href="https://www.facebook.com/alexey.yaroshenko" target="_blank">Facebook</a></li>
                    <!--<li><a href="https://vk.com/aleksey.yaroshenko" target="_blank">VK</a></li>-->
                    <li><a href="https://www.linkedin.com/in/alekseyyaroshenko/" target="_blank">LinkedIn</a></li>
                    <li id="last-share-element"><a href="https://t.me/yaroshenko" target="_blank">Telegram</a></li>
                    <li><a href="mailto:hello@realtorbot.by">Email</a></li>
                </ul>

            </div>

            <div class="photo">
                <img src="/static/images/minsk-2.jpg" alt="Minsk"/>
            </div>


        </div>

    </main>


    <footer>

        <div class="photo-mobile">
            <img src="/static/images/minsk-2.jpg" alt="Minsk"/>
        </div>

        {%include 'footer-menu.html' %}

    </footer>
</div>


</body>

</html>