<!doctype html>
<html>

<head>
    <title>RealtorBot</title>

    <meta charset="utf8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/style.css?1" type="text/css" rel="stylesheet">
    <link href="/static/form-style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Space+Mono:400,700&display=swap"
          rel="stylesheet">

</head>

<body>

<div class="page-container container">

    <header>
        {%include 'header-menu.html' %}
    </header>

    <main>

        <div>
            <h1 class="multiple-lines-heading">Сервис оценки стоимости <br> квартир в Минске</h1>
        </div>

        <div class="grid main-grid">

            <div class="left-column">
                <p class="big-margin-bottom-p">Нейросеть проанализировала тысячи актуальных объявлений о продаже квартир в
                    Минске
                    и оценит вашу квартиру. Без регистрации, email и прочей ерунды
                </p>


                <label for="address" class="main-adress-label">Адрес дома</label>

                <div class="address-grid">
                    <input type="text" name="adress" id="address">
                    <input type="hidden" name="latitude" id="latitude">
                    <input type="hidden" name="longitude" id="longitude">
                    <button class="start-button" name="button" id="submit" disabled>Оценить</button>
                </div>

            </div>

            <div class="photo">
                <img src="/static/images/start-minsk-1.jpg" alt="Minsk"/>
            </div>

        </div>

    </main>

    <footer>
        <div class="photo-mobile">
            <img src="/static/images/start-minsk-1.jpg" alt="Minsk"/>
        </div>
        {%include 'footer-menu.html' %}
    </footer>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=13c33dcd-da85-4147-96a8-12e4918283e1&lang=ru_RU" type="text/javascript"></script>

<script>
    $(document).ready(function() {
        $('#submit').click(function() {
            var lat = $('#latitude').val();
            var long = $('#longitude').val();
            var address = $('#address').val();

            if (lat && long && address) {
                location.href = '/price?lat=' + lat + '&long=' + long + '&address=' + address
            }
        });
        $('#address').focus()
    });
</script>

<script type="text/javascript">

	ymaps.ready(init);
	var placemark = false;

	function init() {


		<!--var myMap = new ymaps.Map('map', {-->
			<!--center: [53.90210688, 27.56172538],-->
			<!--zoom: 11,-->
			<!--controls: [],-->


		<!--}, {-->
			<!--suppressMapOpenBlock: true,-->
			<!--maxZoom: 11,-->
			<!--minZoom: 11,-->
			<!--yandexMapDisablePoiInteractivity: true,-->
			<!--restrictMapArea: true,-->
		<!--});-->


		var suggestView = new ymaps.SuggestView('address', {
			boundedBy: [[53.820922446131, 27.344970703125], [53.97547425743, 27.77961730957]]
		})


		suggestView.events.add('select', function (event) {
			var address = event.get('item').value
			document.getElementById('address').value = event.get('item').displayName
			ymaps.geocode(address).then(function (res) {
			    var geo = res.geoObjects.get(0);
				var latlng = geo.geometry.getCoordinates();
				document.getElementById('latitude').value = latlng[0];
				document.getElementById('longitude').value = latlng[1];
				$('#submit').prop("disabled", false)

				<!--console.log(geo.properties.get('name'))-->

				<!--if (placemark) {-->
					<!--myMap.geoObjects.remove(placemark);-->
				<!--}-->

				<!--placemark = new ymaps.Placemark(latlng, {}, {-->
					<!--preset: 'islands#blueHomeIcon',-->
					<!--iconColor: '#007bff'-->
				<!--});-->

				<!--myMap.geoObjects.add(placemark);-->


				<!--$('#map-container').show()-->

				console.log(latlng)
			});
		});


	}

</script>
</body>

</html>